# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

The following notebook introduces basic concepts used in Jupyter Notebooks and Data Science.
- popular languages used by Data Scientists
- commonly used libraries used by Data Scientists
- open-source tools for Data Science
- evcaluation of arythmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Seaborn
4. Pandas
5. SciPy

|Data Science Tools|
|------------------|
|RStudio|
|Jupyter Notebooks|
|Python|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [13]:
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335